body {
    background: url('../image/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery-item {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    margin:5px;

    img {
        position:absolute;
        margin:auto;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
}

.text-danger {
    font-size:24px;
}

.title-count {
    font-size: 20px;
    font-weight: 700;
    color:white;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
body {
    margin: 2em;
}

.title-form {
    color:white;
    margin-bottom: 30px;
}

input.ui-inputfield, select.ui-inputfield,textarea.ui-inputfield  {
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 0 15px;
    width: 100%;

    &:focus {
        box-shadow: 0 0 0 2px #accae3;
    }
}

input.ui-inputfield, select.ui-inputfield {
    height: 51px;
    line-height: 51px;
}

textarea.ui-inputfield {
    height: 102px;
    line-height: 102px;
    overflow-y: hidden;
}

.data-form {
    label {
        font: 500 13px/1.42 'Roboto', 'Helvetica Neue', Helvetica, Arial;
        margin-bottom: 5px;
        color:white;
    }
    dl {
        position: relative;
        margin-bottom: 29px;

        dt {
            position: absolute;
            left: 15px;
            top: 9px;
            font-size: 10px;
            line-height: 10px;
            z-index: 4;
            font-weight: 200;
            display: none;
        }

        &.lbl-up {
            dt {
                display: block;
            }
            input.ui-inputfield, select.ui-inputfield, textarea.ui-inputfield {
                padding-top: 15px;
            }

            textarea.ui-inputfield {
                line-height: 51px;
            }
        }
    }

    .field-error {
        padding: 6px 0 0;

        span {
            color: #D0021B;
            display: inline-block;
            font-size: 13px;
            margin: 0 10px 0 19px;
        }
    }
}


//загрузка
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    100% { -moz-transform:rotate(360deg); }
}

@-webkit-keyframes spin {
    100% { -webkit-transform:rotate(360deg); }
}

@-ms-keyframes spin {
    100% { -ms-transform:rotate(360deg); }
}

@-o-keyframes spin {
    100% { -o-transform:rotate(360deg); }
}

.loading-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2000;
    opacity: 0.8;
}



.process {
    position: absolute;
    top:50%;
    left:50%;
    margin: -75px 0 0 -75px;


    &-title {
        margin-top:10px;
        font-size: 1.3em;
        text-align: center;
        color: lightblue;
    }

    &-circle {
        width: 150px;
        height: 150px;
        border: 20px solid lightblue;
        border-bottom-color: #6383A8;
        border-radius: 100%;
        animation: spin 1s infinite linear;


        -moz-animation: spin 1s infinite linear;
        -o-animation: spin 1s infinite linear;
        -webkit-animation: spin 1s infinite linear;
        -ms-animation: spin 1s infinite linear;
    }

}